.etudiant{
    background-color: #f5f5f5;
}
.mb-3{
    border: 1px solid #f5f5f5;
}
.card-body{
    background-color: #800080;
}
.w-30{
    background-color: blue !important;
    font-weight: bold;
    font-style: italic;
    color: white;
}
.w-45{
    background-color: #008000 !important;
    font-weight: bold;
    font-style: italic;
    color: white ;

}
label{
    font-weight: bold;
    font-style: italic;

}
.card-header{
    border: 3px solid #800080;
    
}
.my-4{
    font-weight: bold;
    font-style: italic;
    color: #800080; 
    
}



.sb-sidenav-menu{
    background-color: #800080;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
    
}


.col-md-6{
    border-color: #800080;
}
.nadi{
    width: 95%;
    height:90px;
    border: 1px solid;
    margin-top: 50px;
    margin-left: 30px;
}
#datatablesSimple{
    margin-top: 20px;
}
.mt-4{
    margin-left: 300px;
    color: white;
    font-weight: bold;
    font-style: italic ;
}
.px-4{
    margin-top: 20px;  
}
.c,tr,th{
    color: white;
    text-align: center;
}
.c,th{
    
    text-align: center; 
}
.accordion{
    background-color: #800080; 
}
.navbar-expand{
    background-color:#800080; 
}
.ps-3{
    color: white;
    
}
#sidebarToggle{
    color: white;
}
.btn{
    background-color: white;
}
.d-grid{
    width: 400px;
    margin-left: -220px;
    height: 50px;
}
.btn-block{
    font-weight: bold;
    font-style: italic;
}
#ak{
    margin-left: -300px;
    width: 575px;
    height: 50px;
   background-color: white;
   color: #800080;
   font-weight: bold;
   font-style: italic;
}
.mt-auto{
    border: 2px solid #800080;
    background-color: white;
}
.text-muted{
    font-size: 15px;
    font-weight: bold;
    color: #800080;
    
}